*{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,     Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;}
body{
    width: 85%;
    display: inline-block;
    background-color:#e4f2ff;
}
header{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#e4f2ff;
    width: 90%;
    display: inline-block;
    flex-flow: row wrap; 
    height: 100px;
    margin-left: 150px;
    vertical-align: top;

}

#logopagina{
    width: 40%;
    height: 35%;
    margin-left: 50px;
    background-color: #b8e5fc;
}
h1{
    text-align: center;
    font-family: Baskerville Old Face;
    width: 90%;
    background-color: #b8e5fc;
    color: black;
    height: 50px;
    margin-left: 50px;
    border-radius: 10px;
    
}
#tituloIzquierda{
    flex-grow: 1;
    width: 30%;
}
.main{
	vertical-align: top;
	margin-left: 150px;
    background-color:#e4f2ff;
    width: 90%;
    height: 100%;
    background-image: url("casa.jpg");
    

}
#BarNav{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin-left: 5%;
    margin-right: 5%;
}
#Categorias{
    flex-grow: 1;
    list-style: none;
    width: 300px;
}
a{
    size: 24px;
}
#Search{
    flex-grow: 1;
    text-align: right;
    width: 5%;
}
.main h1{
    text-align: center;
    padding: 5px;
    
}
#subcontents{
    width: 200px;
    height: 200px;
    margin-left: 4%;
    background-color: #b8e5fc;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    font-family: Vivaldi;
}
.Comments{
    width: 90%;
    height: 250px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #b8e5fc;
    margin-top: 10px;
    display: flex;
}
#Text{
    width: 50%;
    height:300px ;
}
input{
    width: 25%;
    height: 7%;
    display: inline-block;
    margin-left: 40%;
}
#logocorreo{
    display: flex;

}
#comentarios{
    width: 50%;
    height: 300px;
    margin-left: 25%;
    display: flex;
    margin-top: 10px;
    background-color: #b8e5fc;
    flex-grow: 1;
    border: solid 2px black;
}
h4{
    width: 50%;
    height: 100px;
    text-align: center;
}
.footer{
    width: 100%;
    background-color:#b8e5fc;
    height: 200px;
    display: flex;
    margin-top: 10px;
}
.row{
    height: 90%;
    padding: 5px;
    text-align: center;
}
#FooterIzquierda{
    flex-grow: 1;
    width: 30%;
    margin-left: 50px;
}
#FooterDerecha{
    flex-grow: 1;
    width: 30%;
    text-align: right;
    margin-right: 50px;
}
#FooterCentro{
    flex-grow: 1;
    width: 30%;
    text-align: center;
}
#Instagram{
    width: 50%;
    height: 60px;
    display: flex;
}
#Facebook{
    width: 50%;
    height:60px ;
    position: absolute;
    top: 1075px;
    display: flex;
    left: 900px;

}
#Copyright{
    width: 50%;
    height: 60px;
    position: absolute;
    left: 430px;
    top:1180px;
}
