body {
	background-color: #e4f2ff;
	width: 100%;
	display: inline-block;
}

.container {
	width: 100%;
	display: inline-block
}

header {
	color: black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	background-color: #b8e5fc;
	width: 100%;
	display: inline-block;
	flex-flow: row wrap;
	height: 15%;
	vertical-align: top;
	text-align: center;
	border-radius: 10px;
	margin-top: 35px;
}

#logopagina {
	width: 30%;
	height: 35%;
	margin-left: 50px;
	background-color: #b8e5fc;
}

.main {
	vertical-align: top;
	background-color: #e4f2ff;
	width: 100%;
	height: 100%;
	background-image: url("casa.jpg");
	display: inline-block;
	margin-top: 25px;
}

#BarNav {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	margin-left: 5%;
	margin-right: 5%;
}

#Categorias {
	flex-grow: 1;
	list-style: none;
	width: 300px;
}

a {
	size: 20px;
}

#Search {
	flex-grow: 1;
	text-align: right;
	width: 5%;
}

.Comments {
	width: 100%;
	height: 250px;
	background-color: #b8e5fc;
	margin-top: 25px;
}

#Text {
	width: 90%;
	height: 250px;
}

input {
	width: 50%;
	height: 40%;
	display: inline-block;
	margin-left: 20%;
}

#logocorreo {
	display: flex;
}

#comentarios {
	width: 50%;
	height: 300px;
	margin-left: 5%;
	display: flex;
	margin-top: 10px;
	background-color: #b8e5fc;
	flex-grow: 1;
	border: solid 2px black;
}

h4 {
	width: 50%;
	height: 30px;
	text-align: center;
}

.footer {
	width: 100%;
	background-color: #b8e5fc;
	height: 15%;
	display: flex;
	margin-top: 25px;
}

.row {
	height: 100%;
	padding: 5px;
	text-align: center;
}

#FooterIzquierda {
	width: 30%;
	margin-left: 25px;
	display: inline-block;
}

#FooterDerecha {
	flex-grow: 1;
	width: 30%;
	text-align: right;
	margin-right: 50px;
}

#FooterCentro {
	width: 30%;
	text-align: center;
}

#Instagram {
	width: 30%;
	height: 40px;
	display: inline-block;
}

#Facebook {
	width: 30%;
	height: 40px;
	display: inline-block;
	margin-left: 10px;
}

#Copyright {
	width: 50%;
	height: 40px;
	display: inline-block;
}

form#comment {
	width: 100%;
	height: 250px;
}

.publicidad {
	height: 850px;
	width: 175px;
	background-color: burlywood;
	display: inline-block;
	vertical-align: top;
}

#subcontents {
	width: 200px;
	height: 200px;
	margin-left: 4%;
	background-color: #b8e5fc;
	display: inline-block;
	margin-top: 10px;
	text-align: center;
	font-family: Vivaldi;
	vertical-align: top;
}

#inicio {
	position: absolute;
	left: 200px;
}
#botoninfo{
	position: absolute;
	left: 220px;
	top: 15px;
}