body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faebb2;
}
    .publicidad{
        height: 1000px;
        width: 13%;
        background-color: burlywood;
        display: inline-block;
        vertical-align: top;
    }
    #container{
        width: 72.5%;
        margin: auto;
        height: 870px;
        background-color: red;
        display: inline-block;
    }
    header{
        height: 150px;
        background-color: #a6a6a6;
        text-align: center;  
        background-image: url("casa.jpg");
        background-position: center center;
        background-attachment: fixed;
        background-size: 345px; 
    }
    #logo{
        width: 80px;
        height: 80px;
        margin: 5px;
    }
    .titulo{
        width: 500px;
        height: 60px;
        margin: 40px;
        margin-left: 110px;
        display: inline-block;
        font-weight: normal;
        padding: 15px;
        background-color: beige;
        opacity: 70%;
        text-align: center;
        border-radius: 10px;
        vertical-align: top;
        line-height: 0.5;
        color: black;
    }
    #login{
        width: 180px;
        height: 100px;
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        background-color: bisque;
    }
    nav{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        background-color: #b0703b;
    }
    .nav-link{
        font-size: 20px;

    }
    #Categorias{
        flex-grow: 1;
        list-style: none;
        width: 300px;
    }
    .dropdown-menu{
        display: inline-block;
        padding-left: 30px;
    }
    #Search{
        flex-grow: 1;
        text-align: right;
        width: 5%;
    }
    

    #content{
        width: 100%;
        height: 634px;
    }
    #subcontents{
        width: 200px;
        height: 200px;
        margin-left: 4%;
        background-color: #b8e5fc;
        display: inline-block;
        margin-top: 10px;
        text-align: center;
        font-family: Vivaldi;
    }
    .Comments{
        width: 92%;
        height: 250px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #b8e5fc;
        margin-top: 10px;
        display: flex;
    }
    #Text{
        width: 50%;
        height:300px ;
    }


    footer{
        height: 130px;
        display: flex;
        background-color: #997e67;
    }
    
    .Contac, .Rsocial, .copyR{
        width: 40%;
        height: 120px;
        padding: 15px;
        display: inline-block;
        vertical-align: top;
    }
    .Rsocial{
        padding: 30px 0px 0px 5px;
        height: 100px;
        width: 370px;
    }
    .contacto{
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        margin-right: 5px;
    }
    .logo-redsocial{
        width: 30px;
        height: 30px;
        text-decoration: none;
    }
    .text-social{
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        font-size: 12px;
        
    }
    .copyright{
        width: 10px;
        height: 10px;
        
    }
    .copy{
        font-size: 10px;
        margin: 25px 0px;
        text-align: center;
        color: white;
        padding-top: 55px;
    }
    /* Boton de busqueda*/

    .box{
        margin: 10px auto;
        width: 300px;
        height: 50px;
    }
    .container-2{
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
      }
      .container-2 input#search{
        width: 50px;
        height: 50px;
        background: #2b303b;
        border: none;
        font-size: 10pt;
        float: left;
        color: #262626;
        padding-left: 35px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
       
        -webkit-transition: width .55s ease;
        -moz-transition: width .55s ease;
        -ms-transition: width .55s ease;
        -o-transition: width .55s ease;
        transition: width .55s ease;
      }
      .container-2 input#search::-webkit-input-placeholder {
        color: #65737e;
     }
      
     .container-2 input#search:-moz-placeholder { /* Firefox 18- */
        color: #65737e;  
     }
      
     .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
        color: #65737e;  
     }
      
     .container-2 input#search:-ms-input-placeholder {  
        color: #65737e;  
     }
     .container-2 .icon{
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
      }
      .container-2 input#search:focus, .container-2 input#search:active{
        outline:none;
        width: 300px;
      }
       
      .container-2:hover input#search{
      width: 300px;
      }
       
      .container-2:hover .icon{
        color: #93a2ad;
      }
    